
hr{
  display: block;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color:red;
  width: 15%;
}
.btn-details{
  margin:10px;
}
.label-details{
  color: grey;
  font-size: 14px;
  padding-top: 8px;
}
.content-details{
  font-size: 14px;
  margin: 0px 10px;
}
.red
{
    color:red;
}
.detailsHeader{
  display: inline-block;
  margin: 0px 0px;
  font-size: 28px;
}

.form-edit{
    width: inherit;
    display:inline;
    margin: 0px 10px;
}
