.App-logo {
  float: left;
  margin: 15px 0px;
  width: 100%;
  height: 90px; }

.App-header {
  width: 100%;
  display: inline-block; }

.header-search {
  float: right;
  margin: 15px;
  width: 25%;
  display: none;
  position: absolute;
  top: 0;
  right: 0; }

@media screen and (min-width: 768px) {
  .header-search {
    display: inline-block; }
  .App-logo {
    height: 40px;
    width: initial;
    margin: 15px; } }
